NODE_ENV="development"

DATABASE_URL="mongodb://mongo:27017/authusers"
DATABASE_USER="authusers"
DATABASE_PASSWORD="authpass"

PORT=3000
SALT=10

REFRESH_TOKEN_PRIVATE_KEY="refreshkey"
ACCESS_TOKEN_PRIVATE_KEY="accesskey"

REFRESH_TOKEN_EXPIRATION="24h"
ACCESS_TOKEN_EXPIRATION="10m"

COOKIE_DOMAIN="localhost"

REDIS_URL="redis://redis:6379"
